aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
ajsonrpc==1.2.0
anyio==4.10.0
appdata==2.2.1
apsw==3.49.2.0
arandr==0.1.11
asgiref==3.9.1
async-timeout==5.0.1
attrs==25.3.0
autocommand==2.2.2
Automat==25.4.16
babel==2.17.0
backrefs==6.0.1
beautifulsoup4==4.13.4
bitarray==3.6.1
bitstring==4.3.1
bleak==1.1.0
bottle==0.13.2
breezy==3.3.12
Brotli==1.1.0
brotlicffi==1.1.0.0
btrfsutil==6.16
build==1.3.0
CacheControl==0.14.3
cachetools==6.1.0
cachy==0.3.0
capstone==5.0.6
certifi==2025.8.3
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
chirp==20250822
cleo==2.1.0
click==8.2.1
click-log==0.4.0
click-plugins==1.1.1
colorama==0.4.6
configobj==5.0.9
constantly==23.10.4
contourpy==1.3.3
coverage==7.10.5
crashtest==0.4.1
cryptography==45.0.6
css-parser==1.0.10
cssselect==1.2.0
CT3==3.4.0
cycler==0.12.1
Cython==3.1.3
dateparser==1.2.2
dbus-fast==2.44.3
dbus-python==1.4.0
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
dicttoxml==1.7.16
distlib==0.4.0
distro-info==1.11
dnspython==2.7.0
dulwich==0.24.1
ecdsa==0.19.1
editables==0.5
esptool==5.0.2
evdev==1.9.2
fastbencode==0.3.5
fastjsonschema==2.21.2
faust-cchardet==2.1.19
feedparser==6.0.11
fido2==2.0.0
filelock==3.19.1
findpython==0.7.0
fonttools==4.59.1
frozenlist==1.7.0
ghp-import==2.1.0
gmpy2==2.2.1
gpiod==2.0.1
h11==0.16.0
hatchling==1.27.0
homeassistant-cli==0.9.6
html2text==2025.4.15
html5-parser==0.4.12
html5lib==1.1
httptools==0.6.4
hyperlink==21.0.0
idna==3.10
ifaddr==0.2.0
img2pdf==0.6.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
incremental==22.10.0
inflate64==1.0.3
inflect==7.5.0
iniconfig==2.1.0
inputs==0.5
installer==0.7.0
intelhex==2.3.0
isodate==0.7.2
jaconv==0.4.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.6
jsonpath-ng==1.7.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
keyboard==0.13.4
keyring==25.6.0
keystone-engine==0.9.2
kiwisolver==1.4.7
lark==1.2.2
legacy-cgi==2.6.3
lensfun==0.3.4
Levenshtein==0.27.1
libevdev==0.11
libfdt==1.7.2
libmsym==0.2.4
lit==20.1.0.dev0
lockfile==0.12.2
louis==3.34.0
lxml==6.0.1
lxml_html_clean==0.4.2
Mako==1.3.10.dev0
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.20.2
matplotlib==3.10.5
mdurl==0.1.2
mechanize==0.4.10
merge3==0.0.15
mergedeep==1.3.4
meshtastic==2.7.1
meson==1.8.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.18
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.6.4
multivolumefile==0.2.3
netdisco==3.0.0
netifaces==0.11.0
netsnmp-python==1.0a1
networkx==3.5
not1mm==25.8.14
notctyparser==23.6.21
numpy==2.3.2
ocrmypdf==16.10.4
OpenTimelineIO==0.17.0
ordered-set==4.1.0
packaging==25.0
paho-mqtt==1.6.1
pandas==2.3.1
pathspec==0.12.1
patiencediff==0.2.15
pbs-installer==2025.8.18
pdfminer.six==0.0.0
pdftotext==2.2.2
perf==0.1
pexpect==4.9.0
pikepdf==9.10.2
pillow==11.3.0
pkginfo==1.12.1.2
platformdirs==4.3.8
platformio==6.1.18
pluggy==1.6.0
ply==3.11
poetry==2.1.2
poetry-core==2.1.3
poetry-plugin-export==1.9.0
pooch==1.8.2
propcache==0.3.2
protobuf==6.31.1
protontricks==1.13.0
ProtonUp-Qt==2.13.0
psutil==7.0.0
ptyprocess==0.7.0
py7zr==1.0.0
pyaaf2==1.7.1
pyaml==24.12.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybcj==1.0.6
pybind11==3.0.1
pycairo==1.28.0
pychm==0.8.6
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.23.0
pycsdr==0.18.2
pyelftools==0.32
pygccxml==3.0.2
pygdbmi==0.11.0.0
Pygments==2.19.2
PyGObject==3.52.3
pykakasi==2.3.1.dev0
pyliblo==0.10.0
pyliblo3==0.16.3
pyOpenSSL==25.1.0
pyparsing==3.2.3
pyppmd==1.2.0
pyproject_hooks==1.2.0
Pypubsub==4.0.3
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6-WebEngine==6.9.0
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
pyscard==2.3.0
pyserial==3.5
PySide6==6.9.1
pytest==8.4.1
pytest-asyncio==0.26.0
pytest-cov==6.1.1
pytest-runner==6.0.1
python-dateutil==2.9.0
pytz==2025.2
pyudev==0.24.3
pyxdg==0.28
PyYAML==6.0.2
pyyaml_env_tag==0.1
pyzmq==27.0.2
pyzstd==0.17.0
QtPy==2.4.3
RapidFuzz==3.13.0
rdflib==7.1.2
reedsolo==1.7.0
referencing==0.36.2
Reflector==2023.6.28.0.36.1
regex==2025.7.34
reportlab==4.2.2
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.1.0
rich-click==1.8.9
rpds-py==0.27.1
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scipy==1.16.1
SecretStorage==3.3.3
semantic_version==2.10.0
sentry-sdk==2.35.0
service-identity==24.2.0
setuptools==80.9.0
sgmllib3k==1.0.0
shellingham==1.5.4
shiboken6==6.9.1
shiboken6-generator==6.9.1
shtab==1.7.2
six==1.17.0
smbus==1.1
snappergui==0.1
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.12.1
soupsieve==2.7
spglib==2.6.1.dev0+gc633404.d20250310
starlette==0.47.3
steam==1.6.1
suds-py3==1.4.1.0
sympy==1.14.0
tabulate==0.9.0
TBB==0.2
termcolor==3.1.0
texttable==1.7.0
thrift==0.20.0
tldr==3.4.1
tomlkit==0.13.3
torch==2.7.1
torchaudio==2.8.0a0+b4c8755
tqdm==4.67.1
trove-classifiers==2025.8.6.13
Twisted==24.3.0
typeguard==4.4.4
typing_extensions==4.14.1
tzlocal==5.3.1
unrardll==0.1.7
urllib3==2.5.0
uvicorn==0.35.0
uvloop==0.21.0
validate==5.0.9
validate-pyproject==0.24.1
vdf==4.0
virtualenv==20.34.0
watchdog==6.0.0
webencodings==0.5.1
websockets==15.0.1
wheel==0.45.1
wrapt==1.17.3
wsproto==1.2.0
wxPython==4.2.3
xmltodict==0.14.2
xxhash==3.5.0
yarl==1.20.1
yattag==1.16.1
yt-dlp==2025.8.22
ytmusicapi==1.11.0
yubikey-manager==5.7.2
zeroconf==0.147.0
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
